# @file
# .travis.yml - Drupal 8 Travis CI Integration

language: php

sudo: false

php:
  - 7.4

env:
  - PATH="$HOME/.composer/vendor/bin:$PATH"

notifications:
  slack: 'xxx'

# Cache Composer & Drush directories.
cache:
  bundler: true
  apt: true
  directories:
  - "$HOME/.composer/cache"
  - "$HOME/.drush/cache"

mysql:
  database: drupal
  username: root
  password:

before_install:
  - composer self-update
  - composer global require drush/drush

install:
  - cd ..
  - composer create-project drupal-composer/drupal-project:8.x drupal --stability dev --no-interaction
  - mysql -e 'create database drupal;'
  - mv config_filter drupal/web/modules/contrib/config_filter
  - cd drupal/web
  - drush --verbose site-install --db-url=mysql://root:@127.0.0.1/drupal --yes
  - drush en -y config_filter
  - drush rs 8080 - &
  - sleep 5
  # Move back to the project root as script will be run from that directory.
  - cd ..

script: SIMPLETEST_BASE_URL=http://127.0.0.1:8080 SIMPLETEST_DB=mysql://root:@127.0.0.1/drupal vendor/bin/phpunit -c web/core/phpunit.xml.dist --group config_filter